@model Web.ViewModels.CommodityInfoViewModel

@{
    var title = Model.IsEdit ? "编辑商品信息" : "添加商品";
}

<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css/froala_editor.min.css" rel="stylesheet" />

<style>
    section {
        width: 100%;
        margin: auto;
        text-align: left;
        margin-top: 10px;
    }
</style>

<script>
    var arr = ["JPG", "JPEG", "PNG", "GIF", "IMG"];

    $(function () {
        var pic = $('#CommodityInfo_ImgUrl');

        if (pic.val() != '') {
            pic.parent().removeClass('default_img');
        }

        Load();
    })

    function ClickUpLoad() {
        $('#picfile').click();
    }

    function ClearImg() {
        var img = $('#pic');
        img.parent().addClass('default_img');
        img.attr({ "src": "" });

        $('#CommodityInfo_ImgUrl').val('');
        var obj = document.getElementById('picfile');
        obj.outerHTML = obj.outerHTML;

        Load();
    }

    function Load() {
        $('#picfile').change(function (e) {
            var file = e.delegateTarget.files[0];
            if (file == null) { return; }
            var state = Verify(file);
            if (state == false) { alert('文件名不合法'); return; }

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (ret) {
                var picString = reader.result;
                //ImgVerify(picString, 'logofile');
                var img = $('#pic');
                img.parent().removeClass('default_img');
                img.attr({ "src": picString });
            }
        });
    }

    function Verify(file) {
        var statu = false;

        var index = file.name.lastIndexOf(".");
        var ext = file.name.substr(index + 1);
        ext = ext.toUpperCase();

        for (var i = 0; i < arr.length; i++) {
            if (ext == arr[i]) {
                statu = true;
            }
        }
        return statu;
    }

    function CommodityClick() {

        if (document.getElementById("CommodityInfo_Title").value == '') {
            alert('标题不能为空!');
            return false;
            console.log('a');
        }
        //输入不为空

        var value = $('#edit')[0].childNodes[1].innerHTML + '';
        value = value.replace(/[<>&"']/g, function (c) {
            return { '<': '&lt;', '>': '&gt;', '&': '&amp;', '"': '&quot;', "'": '&apos;' }[c];
        });

        $('#CommodityInfo_ComContent').val(value);

        var formData = new FormData(document.getElementById('cominfo'));

        $.ajax({
            url: '/Home/SaveCommodity',
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.result) {
                    document.location.href = '/Home/CommodityList';
                } else {
                    alert('保存失败');
                }
            }
        })
    }

    function ShowClear() {
        $('#clear').css('display', 'block');
    }

    function HideClear() {
        $('#clear').css('display', 'none');
    }

    function DeleteComm(cid) {
        if (confirm('确认删除？')) {
            $.ajax({
                url: '/Home/DeleteCommodity',
                type: 'post',
                data: {
                    inCommodityID: cid
                },
                success: function (data) {
                    if (data.result) {
                        document.location.href = '/Home/CommodityList';
                    } else {
                        alert(data.msg);
                    }
                }
            })
        }
    }
</script>

<style>
    .default_img {
        background-image: url('../../Content/Images/add.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .imgdiv {
        cursor: pointer;
        width: 150px;
        height: 150px;
        margin: 5px;
        position: relative;
    }

    .img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@title</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                商品信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="cominfo" role="form" class="col-lg-6">
                            @Html.HiddenFor(m => m.CommodityInfo.CommodityID)
                            <div class="form-group">
                                <label>标题/Title</label>
                                @Html.TextBoxFor(m => m.CommodityInfo.Title, new { @class = "form-control", @placeholder = "请输入商品的标题" })
                                @*<input name="title" value="" class="form-control" placeholder="请输入商品的标题">*@
                            </div>
                            <div class="form-group">
                                <label>分类/Classification</label>
                                @Html.DropDownListFor(m => m.CommodityInfo.Category, ViewData["CatList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                @*<select name="category" class="form-control">
                <option>分类1</option>
                <option>分类2</option>
                <option>分类3</option>
            </select>*@
                            </div>
                            <div class="form-group">
                                <label>价格/Price</label>
                                市场价:
                                @Html.TextBoxFor(m => m.CommodityInfo.Price, new { @class = "form-control", @style = "width: 20%;display: inline-block;" })
                                @*<input name="price" class="form-control" style="width: 20%;display: inline-block;">*@
                                同学价:
                                @Html.TextBoxFor(m => m.CommodityInfo.TxPrice, new { @class = "form-control", @style = "width: 20%;display: inline-block;" })
                                @*<input name="txprice" class="form-control" style="width: 20%;display: inline-block;">*@
                            </div>
                            <div class="form-group">
                                <label>单位/Unit</label>
                                @Html.TextBoxFor(m => m.CommodityInfo.Unit, new { @class = "form-control", @placeholder = "请输入你的单位" })
                                @*<input name="unit" class="form-control" placeholder="请输入你的单位">*@
                            </div>
                            <div class="form-group">
                                <label>图片/Picture</label>
                                <div class="imgdiv default_img" onclick="ClickUpLoad()">
                                    <img id="pic" src="@Model.CommodityInfo.ImgUrl" class="img">
                                    @Html.HiddenFor(m => m.CommodityInfo.ImgUrl)
                                </div>
                                <div class="btn btn-danger" onclick="ClearImg()">清除图片</div>
                                <input style="display:none;" id="picfile" name="picfile" type="file">
                            </div>
                            <div class="form-group">
                                <label>描述/Describe</label>
                                @Html.TextAreaFor(m => m.CommodityInfo.Description, new { @class = "form-control", @rows = "4" })
                                @*<textarea class="form-control" rows="4"></textarea>*@
                            </div>
                            @Html.Hidden("CommodityInfo.ComContent")
                        </form>
                        <div class="col-lg-11">
                            <div class="form-group">
                                <label>内容/Content</label>
                                <section id="editor">
                                    <div id="edit">

                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button onclick="CommodityClick()" class="btn btn-info" id="oSubmit">提交</button>
                            <button onclick="document.location.href = '/Home/CommodityList';" class="btn btn-info">返回</button>
                            <button onclick="DeleteComm('@Model.CommodityInfo.CommodityID')" class="btn btn-info">删除商品</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Js/froala_editor.min.js"></script>
<!--[if lt IE 9]>
<script src="~/Scripts/Js/froala_editor_ie8.min.js"></script>
<![endif]-->
<script src="~/Scripts/Js/plugins/tables.min.js"></script>
<script src="~/Scripts/Js/plugins/lists.min.js"></script>
<script src="~/Scripts/Js/plugins/colors.min.js"></script>
<script src="~/Scripts/Js/plugins/media_manager.min.js"></script>
<script src="~/Scripts/Js/plugins/font_family.min.js"></script>
<script src="~/Scripts/Js/plugins/font_size.min.js"></script>
<script src="~/Scripts/Js/plugins/block_styles.min.js"></script>
<script src="~/Scripts/Js/plugins/video.min.js"></script>
<script src="~/Scripts/Js/langs/zh_cn.js"></script>

<script>
    $(function () {
        var value = $('#CommodityInfo_ComContent').val();
        value = value.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&").replace(/&quot;/g, '"').replace(/&apos;/g, "'");

        $('#edit')[0].childNodes[1].innerHTML = value;
    })

    $('#edit').editable({
        inlineMode: false,
        language: "zh_cn", //设置为中文
        alwaysBlank: true
    })
</script>