@model Web.ViewModels.CommodityInfoViewModel

<script>
    function CommodityClick() {
        $.ajax({
            url: '/Home/SaveCommodity',
            type: 'post',
            data: $('#cominfo').serialize(),
            success: function (data) {
                alert();
            }
        })
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">添加商品</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                商品信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form id="cominfo" role="form">
                            <div class="form-group">
                                <label>标题/Title</label>
                                @Html.TextBoxFor(m => m.CommodityInfo.Title, new { @class = "form-control", @placeholder = "请输入商品的标题" })
                                @*<input name="title" value="" class="form-control" placeholder="请输入商品的标题">*@
                            </div>
                            <div class="form-group">
                                <label>分类/Classification</label>
                                <select name="category" class="form-control">
                                    <option>分类1</option>
                                    <option>分类2</option>
                                    <option>分类3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>价格/Price</label>
                                市场价:
                                @Html.TextBoxFor(m => m.CommodityInfo.Price, new { @class = "form-control", @style = "width: 20%;display: inline-block;" })
                                @*<input name="price" class="form-control" style="width: 20%;display: inline-block;">*@
                                同学价:
                                @Html.TextBoxFor(m => m.CommodityInfo.TxPrice, new { @class = "form-control", @style = "width: 20%;display: inline-block;" })
                                @*<input name="txprice" class="form-control" style="width: 20%;display: inline-block;">*@
                            </div>
                            <div class="form-group">
                                <label>单位/Unit</label>
                                @Html.TextBoxFor(m => m.CommodityInfo.Unit, new { @class = "form-control", @placeholder = "请输入你的单位" })
                                @*<input name="unit" class="form-control" placeholder="请输入你的单位">*@
                            </div>
                            <div class="form-group">
                                <label>图片/Picture</label>
                                <div style="width: 150px;height: 150px;background-color: black;margin:5px;">
                                    <img src="~/Content/Images/add.png" style="width: 150px;height: 150px;">
                                </div>
                                @Html.Hidden("ImgUrl")
                                <input type="file">
                            </div>
                            <div class="form-group">
                                <label>内容/Content</label>
                                @Html.TextAreaFor(m => m.CommodityInfo.Description, new { @class = "form-control", @rows = "4" })
                                @*<textarea class="form-control" rows="4"></textarea>*@
                            </div>
                        </form>
                        <button onclick="CommodityClick()" class="btn btn-info">提交</button>
                        <button class="btn btn-info">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>