@model Web.ViewModels.CommodityViewModel

<script>
    var page = '@Model.PageCode';
    var total = '@Model.PageCount';

    $(function () {
        if (page != '') {
            if (page <= 3) {
                $('#pg_' + page).addClass('active');
                for (var i = 1; i <= 5; i++) {
                    $('#pg_' + i).children().html(i);
                }
            } else {
                var index = parseInt(page) - 2;
                for (var i = 1; i <= 5; i++) {
                    if (index <= total) {
                        $('#pg_3').addClass('active');
                        $('#pg_' + i).children().html(index);
                    } else {
                        $('#pg_' + i).attr('hidden', 'hidden');
                    }
                    index++;
                }
            }
        }
    })

    function PageClick(code, state) {
        if (state != '') {
            if (state == 'Next') { code++; } else { code--; }
            if (code > total) { return; }
            if (code < 1) { return; }
        } else {
            code = $('#pg_' + code).children().html();
        }

        document.location.href = '/Home/CommodityList?page=' + code;
    }

    function ComClick(cid) {
        if (cid == '') {
            document.location.href = '/Home/CommodityInfo';
        } else {
            document.location.href = '/Home/CommodityInfo?inCommodityID=' + cid;
        }
    }
</script>

<style>
    .img-responsive {
        width: 218px!important;
        height: 218px!important;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            个人商品
            <button onclick="ComClick('')" type="button" class="btn btn-primary">+添加商品</button>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @foreach (var item in Model.CommodityList)
        {
            var src = item.ImgUrl == "" ? "../Content/Images/noimage.gif" : item.ImgUrl;
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a onclick="ComClick('@item.CommodityID')" style="cursor:pointer;">
                        <img src="@src" alt="..." class="img-responsive">
                    </a>
                    <div class="caption">
                        <a onclick="ComClick('@item.CommodityID')" style="cursor:pointer;">
                            <h4 style="overflow:hidden;">@item.Title</h4>
                        </a>
                        <p style="color:red;overflow:hidden;height:38px;">
                            @item.Description
                        </p>
                        <div style="height: 46px;">
                            <h>同学价:<h class="price">¥@item.TxPrice</h></h>
                            <h style="display: block;">市场价:<h class="price">¥@item.Price</h></h>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row" style="text-align: center;">
    <ul class="pagination">
        <li><a onclick="PageClick('@Model.PageCode', 'Previous')">&laquo;上一页</a></li>
        @for (int i = 1; i < 6; i++)
        {
            if (i > Model.PageCount) { break; }
            <li id="pg_@i"><a onclick="PageClick('@i','')"></a></li>
        }
        <li><a onclick="PageClick('@Model.PageCode', 'Next')">&raquo;下一页</a></li>
    </ul>
</div>