
<script>
    function UpdateUser(uid) {
        document.location.href = '/Home/UpdateUser?inUserID=' + uid;
    }

    function DeleteUser(uid) {
        if (confirm('确认删除？')) {
            $.ajax({
                url: '/Home/DelectUser',
                type: 'post',
                data: {
                    inUserID: uid
                },
                success: function (data) {
                    if (data.result) {
                        document.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }
            })
        }
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            用户列表
        </h1>
    </div>
</div>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>用户名</th>
                <th>班级</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>电话</th>
                <th>QQ</th>
                <th>动作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model as List<Model.UserList>)
            {
                var sex = item.Sex == 0 ? "男" : "女";
                <tr>
                    <td><span>@item.UserName</span></td>
                    <td><span>@item.Class</span></td>
                    <td><span>@sex</span></td>
                    <td><span>@item.Email</span></td>
                    <td><span>@item.PhoneNumber</span></td>
                    <td><span>@item.QQ</span></td>
                    <td>
                        <div>
                            <button onclick="UpdateUser('@item.UserID')" class="btn btn-primary">编辑</button>
                            @if (item.IsAdmin == 0)
                            {
                                <button onclick="DeleteUser('@item.UserID')" class="btn btn-primary">删除</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>