@{
    Layout = null;
    var replies = Model as List<Web.ViewModels.VMReplies>;
}

<script>
    $(".reply-list-btn").click(function () {
        if ($(this).parent().parent().find(".replybox").length > 0) {
            $(".replybox").remove();
        } else {
            $(".replybox").remove();
            replyClick($(this));
        }
    })
</script>

@{
    foreach (var item in replies)
    {
        <div class='reply'>
            <input type="hidden" id="rid" value="@item.RID" />
            <input type="hidden" id="uid" value="@item.UID" />
            <input type="hidden" id="uname" value="@item.UName" />
            <div>
                <span class='replyname'>@item.UName:@@@item.BeUName</span>
                <span>@item.Remark</span>
            </div>
            <p><span>@item.RTime</span><span class='reply-list-btn'>回复</span></p>
        </div>
    }
}

