@{
    Layout = null;
    var list = Model as List<Web.ViewModels.VMRemark>;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/Remarks.css" rel="stylesheet" />
<div>
    <div class="container">
        <div class="commentbox">
            <textarea cols="80" rows="50" placeholder="在此处留言评论" class="mytextarea" id="content"></textarea>
            <div class="btn btn-info pull-right" id="comment" onclick="SaveComment()">评论</div>
        </div>
        <div class="comment-list">
            @foreach (var item in list)
            {
                var index = list.IndexOf(item);
                <div class='comment-info'>
                    <div class='comment-right'>
                        <h3>@item.UName</h3>
                        <div class='comment-content-header'>
                            <span><i class='glyphicon glyphicon-time'></i>@item.RTime</span>
                        </div>
                        <p class='content'>@item.Remark</p>
                        <div class='comment-content-footer'>
                            <div class='row'>
                                <input type="hidden" id="rid" value="@item.RID" />
                                <input type="hidden" id="uid" value="@item.UID" />
                                <input type="hidden" id="uname" value="@item.UName" />
                                @if (item.RepliesTotal != 0)
                                {
                                    <div class='col-md-10' style="float:left;">
                                        <span onclick="ShowReplies('@item.RID')" style="cursor:pointer;">@item.RepliesTotal 条回复</span>
                                    </div>
                                }
                                <div class='col-md-2' style="float:right;">
                                    <span class='reply-btn'>回复</span>
                                </div>
                            </div>
                        </div>
                        <div class='reply-list' id="reply_@item.RID"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(".reply-btn").click(function () {
        if ($(this).parent().parent().find(".replybox").length > 0) {
            $(".replybox").remove();
        } else {
            $(".replybox").remove();
            replyClick($(this));
        }
    });

    function replyClick(el) {
        $.ajax({
            url: '/Remark/GetLoginUser',
            type: 'post',
            success: function (data) {
                if (data) {
                    el.parent().parent().append(
                        "<div class='replybox'>" +
                        "<textarea cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea>" +
                        "<span class='send'>发送</span>" +
                        "</div>"
                    ).find(".send").click(function () {
                        var content = $(this).prev().val();
                        if (content != "") {
                            var parentEl = $(this).parent().parent();
                            $.ajax({
                                url: '/Remark/InsertReply',
                                type: 'post',
                                data: {
                                    RID: parentEl.find("#rid").val(),
                                    BeUID: parentEl.find("#uid").val(),
                                    BeUName: parentEl.find("#uname").val(),
                                    Remark: content
                                },
                                success: function (data) {
                                    window.location.reload();
                                }
                            })
                        } else {
                            alert("回复不能为空！");
                        }
                    });
                } else {
                    alert('请先登录');
                    return;
                }
            }
        })
    }

    function SaveComment() {
        $.ajax({
            url: '/Remark/GetLoginUser',
            type: 'post',
            success: function (data) {
                if (data) {
                    var aid = $('#aid').val();
                    var comm = $("#content").val();
                    if (comm == '') {
                        alert('评论不能为空！'); return;
                    }
                    $.ajax({
                        url: '/Remark/InsertRemark',
                        type: 'post',
                        data: {
                            ArticleID: aid,
                            Remark: comm
                        },
                        success: function (data) {
                            window.location.reload();
                        }
                    })
                } else {
                    alert('请先登录');
                    return;
                }
            }
        })
    }

    function ShowReplies(rid) {
        if ($('#reply_' + rid).html() != '') {
            $('#reply_' + rid).html('');
            return;
        }

        $('.reply-list').html('');

        $.ajax({
            url: '/Remark/GetReplies',
            type: 'get',
            data: {
                inRID: rid
            },
            success: function (data) {
                $('#reply_' + rid).html(data);
            }
        })
    }
</script>
