@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vModel = Model as Web.ViewModels.VMArticle;
    var arList = ViewData["RelatedArticle"] as List<Web.ViewModels.VMArticle>;
    var iList = ViewData["Items"] as List<Web.ViewModels.VMItem>;
    var url = ViewBag.CatName == "综合" ? "/Home/Index" : "/Home/Index?catid=" + vModel.DomainID;
}

<script>
    function Search() {
        var str = $('.searchText').val();

        window.location.href = '/Home/Index?search=' + str;
    }

    function Favorites() {
        var title = $('.bigtitle').children().html();

        $.ajax({
            url: '/Home/AddFavorites',
            type: 'post',
            data: {
                inArticleID: $('#aid').val(),
                inTitle: title
            },
            success: function (data) {
                if (data.result) {
                    var dom = $('#fav');
                    dom.parent().attr('href', 'javascript:DelFavorites()');
                    dom.html('☆已收藏');
                } else {
                    if (data.msg == 'notlogin') {
                        ILogin();
                    } else {
                        alert(data.msg);
                    }
                }
            }
        })
    }

    function DelFavorites() {
        $.ajax({
            url: '/Home/DelFavorites',
            type: 'post',
            data: {
                inArticleID: $('#aid').val()
            },
            success: function (data) {
                if (data.result) {
                    var dom = $('#fav');
                    dom.parent().attr('href', 'javascript:Favorites()');
                    dom.html('☆收藏');
                } else {
                    alert(data.msg);
                }
            }
        })
    }
</script>

<script>
    $(function () {
        var str = $('#hinfo').val();
        $('#info').html(str);
    })
</script>

<script>
    function ILogin() {
        $.ajax({
            url: '/Authentication/Index',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var log = $('#logreg');
                log.html(data);
                log.show();
            }
        })
    }

    function IRegister() {
        $.ajax({
            url: '/Authentication/Register',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var reg = $('#logreg');
                reg.html(data);
                reg.show();
            }
        })
    }

    function closeRight() {
        $('#GrayBG').hide();
        var lr = $('#logreg');
        lr.html('');
        lr.hide();
    }
</script>

<link href="~/Content/css/news.css" rel="stylesheet" />

<div class="topBar">
    <div class="weatherInfo" style="height:30px;">
        <iframe width="450" scrolling="no" height="30" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=4&wind=1&num=1&site=12"></iframe>
    </div>
</div>
<div id="typeInfo">
    <div class="typeTitle">
        <a href="#">
            <img src="~/Content/img/toptitle.png" />
        </a>
    </div>
    <ul id="ul1" class="typeTop">
        <li id="li_0"><a href="/Home/Index"><span>综合</span></a></li>
        <li id="li_8"><a href="/Home/Index?catid=8"><span>科技</span></a></li>
        <li id="li_12"><a href="/Home/Index?catid=12"><span>时尚</span></a></li>
        <li id="li_16"><a href="/Home/Index?catid=16"><span>生活</span></a></li>
        <li id="li_21"><a href="/Home/Index?catid=21"><span>女人</span></a></li>
        <li id="li_6"><a href="/Home/Index?catid=6"><span>财经</span></a></li>
        <li class="more">
            <a id="btn" onMouseOver="javascript:showInform();">
                <span>更多</span>
            </a>
        </li>
    </ul>
</div>
<div id="inform" onMouseOver="javascript:showInform();" onMouseOut="hiddenInform(event)" style="display: none;">
    <ul id="ul2">
        <li id="li_4"><a href="/Home/Index?catid=4"><span>娱乐</span></a></li>
        <li id="li_13"><a href="/Home/Index?catid=13"><span>游戏</span></a></li>
        <li id="li_15"><a href="/Home/Index?catid=15"><span>旅游</span></a></li>
        <li id="li_14"><a href="/Home/Index?catid=14"><span>军事</span></a></li>
        <li id="li_19"><a href="/Home/Index?catid=19"><span>搞笑</span></a></li>
    </ul>
</div>
<div class="newContent">
    <div class="newContentArea">
        <input type="hidden" id="aid" value="@vModel.ArticleID" />
        <div class="threeLink"><a href="/Home/Index">首页</a> / <a href="@url">@ViewBag.CatName</a> / <span>正文</span></div>
        <div class="bigtitle"><span>@vModel.Title</span></div>
        <div id="info">
            @Html.Hidden("hinfo", vModel.Conten)
        </div>
        <div class="aboutLink">
            @{
                if (vModel.IsFavorites)
                {
                    <a href="javascript:DelFavorites()" class="collectionButton"><span id="fav">☆已收藏</span></a>
                }
                else
                {
                    <a href="javascript:Favorites()" class="collectionButton"><span id="fav">☆收藏</span></a>
                }
            }
        </div>
    </div>
    <div class="tuiwen">
        <span class="xgtw">相关推文</span>
        <ul>
            @foreach (var item in arList)
            {
                <li>
                    <div class="leftpart1">
                        <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" target="_blank">
                            <img src="@item.ImgSrc">
                        </a>
                    </div>
                    <div class="rightpart1">
                        <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" target="_blank">
                            <span>@item.Title</span>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tuiwen">
        <span class="xgtw">商品推荐</span>
        <ul>
            @foreach (var item in iList)
            {
                <li>
                    <div class="leftpart1">
                        <a href="@item.ClickUrl" target="_blank">
                            <img src="@item.ImgSmall">
                        </a>
                    </div>
                    <div class="rightpart1">
                        <a href="@item.ClickUrl" target="_blank">
                            <span>@item.Title</span>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="rightbar">
    <div class="loginBar">
        @{
            if (Convert.ToBoolean(ViewBag.IsLogin))
            {
                <div id="loginInnerTwo">
                    <div class="welcomeToLogin"><span>欢迎，@ViewBag.Name</span></div>
                    <div class="myfoot"><a type="button" class="footButton" href="/Home/FootmarkList">我的足迹</a></div>
                    <div class="myCollection"><a type="button" class="collectionButton" href="/Home/FavoritesList">我的收藏</a></div>
                    <div class="exitUser"><a type="button" class="exitButton" href="/Authentication/Logout">退出当前账号</a></div>
                </div>
            }
            else
            {
                <div class="loginInner">
                    <div class="loginConduce">登录后可以保存您的浏览足迹、收藏。</div>
                    <div class="loginMode"><a type="button" class="loginButton" href="javascript:ILogin();">登录</a></div>
                    <div class="registerMode"><a type="button" class="registerButton" href="javascript:IRegister();">注册</a></div>
                </div>
            }
        }
    </div>
    <div class="moreContent" style="padding-top:20px;">
        <div id="qrcode" style="top:540px;"></div>
        <div class="smsjk">扫码手机看</div>
    </div>
</div>

<div id="GrayBG" style="background-color: #ccc;opacity: 0.5;width: 100%;height: 100%;z-index:1;display: none;"></div>
<div class="reg login logreg" id="logreg"></div>

<script type="text/javascript">
    //显示悬浮层
    function showInform() {
        document.getElementById("inform").style.display = 'block';
        // document.getElementById("inform").css("display","block");
    }
    //隐藏悬浮层
    function hiddenInform(event) {
        var informDiv = document.getElementById('inform');
        var x = event.clientX;
        var y = event.clientY;
        var divx1 = informDiv.offsetLeft;
        var divy1 = informDiv.offsetTop;
        var divx2 = informDiv.offsetLeft + informDiv.offsetWidth;
        var divy2 = informDiv.offsetTop + informDiv.offsetHeight;
        if (x < divx1 || x > divx2 || y < divy1 || y > divy2) {
            document.getElementById('inform').style.display = 'none';
        }
    }
</script>
<script src="~/Scripts/YuxiSlider.jQuery.min.js"></script>
<script>
    $("#scroll").YuxiSlider({
        width: 700, //容器宽度
        height: 250, //容器高度
        control: $('.control'), //绑定控制按钮
        during: 4000, //间隔4秒自动滑动
        speed: 1000, //移动速度1秒
        mousewheel: false, //是否开启鼠标滚轮控制
        direkey: true //是否开启左右箭头方向控制
    });
</script>
