@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vModel = Model as Web.ViewModels.VMArticle;
    var arList = ViewData["RelatedArticle"] as List<Web.ViewModels.VMArticle>;
    var iList = ViewData["Items"] as List<Web.ViewModels.VMItem>;
    var url = ViewBag.CatName == "综合" ? "/Home/Index" : "/Home/Index?catid=" + vModel.DomainID;
}

<script>
    function Search() {
        var str = $('.searchText').val();
        window.location.href = '/Home/Index?search=' + str;
    }

    function Favorites() {
        var title = $('.bigtitle').children().html();

        $.ajax({
            url: '/Home/AddFavorites',
            type: 'post',
            data: {
                inArticleID: $('#aid').val(),
                inTitle: title
            },
            success: function (data) {
                if (data.result) {
                    var dom = $('#fav');
                    dom.parent().attr('href', 'javascript:DelFavorites()');
                    dom.html('☆已收藏');
                } else {
                    if (data.msg == 'notlogin') {
                        ILogin();
                    } else {
                        alert(data.msg);
                    }
                }
            }
        })
    }

    function DelFavorites() {
        $.ajax({
            url: '/Home/DelFavorites',
            type: 'post',
            data: {
                inArticleID: $('#aid').val()
            },
            success: function (data) {
                if (data.result) {
                    var dom = $('#fav');
                    dom.parent().attr('href', 'javascript:Favorites()');
                    dom.html('☆收藏');
                } else {
                    alert(data.msg);
                }
            }
        })
    }
</script>
<script>
    var articleid = '@vModel.ArticleID';

    $(function () {
        var str = $('#hinfo').val();
        $('#info').html(str);

        $.ajax({
            url: '/Remark/Index',
            type: 'get',
            data: {
                inArticleID: articleid
            },
            success: function (data) {
                $('#remark').html(data);
            }
        })
    })
</script>
<script>
    function ILogin() {
        $.ajax({
            url: '/Authentication/Index',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var log = $('#logreg');
                log.html(data);
                log.show();
            }
        })
    }

    function IRegister() {
        $.ajax({
            url: '/Authentication/Register',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var reg = $('#logreg');
                reg.html(data);
                reg.show();
            }
        })
    }

    function closeRight() {
        $('#GrayBG').hide();
        var lr = $('#logreg');
        lr.html('');
        lr.hide();
    }
</script>
<link href="~/Content/css/news.css" rel="stylesheet" />
<div class="topBar">
    <div class="weatherInfo" style="height:30px;">
        <iframe width="450" scrolling="no" height="30" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=4&wind=1&num=1&site=12"></iframe>
    </div>
</div>
<div class="rowline"></div>
<div id="typeInfo">
    <div class="typeTitle">
        <a href="/Home/Index">
            <img src="~/Content/img/toptitle.png" />
        </a>
    </div>
    <div id="saomatop" class="saoma">
        <img id="saoma" src="~/Content/img/saomapic.png" /><p>扫码手机看</p>
    </div>
    <div id="moreContent" class="moreContent"><div id="qrcode"><canvas width="0" height="0"></canvas></div></div>
</div>
<div class="newContent">
    <div class="newContentArea">
        <input type="hidden" id="aid" value="@vModel.ArticleID" />
        <div class="threeLink"><a href="/Home/Index">首页</a> / <a href="@url">@ViewBag.CatName</a> / <span>正文</span></div>
        <div class="bigtitle"><span>@vModel.Title</span></div>
        <div id="info">
            @Html.Hidden("hinfo", vModel.Conten)
        </div>
        <div class="aboutLink">
            @{
                if (vModel.IsFavorites)
                {
                    <a href="javascript:DelFavorites()" class="collectionButton"><span id="fav">☆已收藏</span></a>
                }
                else
                {
                    <a href="javascript:Favorites()" class="collectionButton"><span id="fav">☆收藏</span></a>
                }
            }
        </div>
    </div>
    <div id="remark" style=""></div>
    <div class="tuiwen" style="margin-left:25px;">
        <span class="xgtw">相关推文</span>
        <ul>
            @foreach (var item in arList)
            {
                <li>
                    <div class="leftpart1">
                        <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" target="_blank">
                            <img src="@item.ImgSrc">
                        </a>
                    </div>
                    <div class="rightpart1">
                        <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" target="_blank">
                            <span>@item.Title</span>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    @if (iList.Count > 0)
    {
        <div class="tuiwen" style="margin-left:25px;">
            <span class="xgtw">猜你想买</span>
            <ul>
                @foreach (var item in iList)
                {
                    <li>
                        <div class="leftpart1">
                            <a href="@item.ClickUrl" target="_blank">
                                <img src="@item.ImgSmall">
                            </a>
                        </div>
                        <div class="rightpart1">
                            <a href="@item.ClickUrl" target="_blank">
                                <span>@item.Title</span>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>
<div class="rightbar">
    <div class="searchBar">
        <input type="text" class="searchText" value="@ViewBag.Search" placeholder="这里输入你要搜索的内容" />
        <div class="searchButton"><a type="button" class="searchButton1" onclick="Search()">搜索</a></div>
    </div>
    <div class="loginBar">
        @{
            if (Convert.ToBoolean(ViewBag.IsLogin))
            {
                <div id="loginInnerTwo">
                    <div class="welcomeToLogin"><span>欢迎，@ViewBag.Name</span></div>
                    <div class="myfoot"><a type="button" class="footButton" href="/Home/FootmarkList">我的足迹</a></div>
                    <div class="myCollection"><a type="button" class="collectionButton" href="/Home/FavoritesList">我的收藏</a></div>
                    <div class="exitUser"><a type="button" class="exitButton" href="/Authentication/Logout">退出当前账号</a></div>
                </div>
            }
            else
            {
                <div class="loginInner">
                    <div class="loginConduce">登录后可以保存您的浏览足迹、收藏。</div>
                    <div class="loginMode"><a type="button" class="loginButton" href="javascript:ILogin();">登录</a></div>
                    <div class="registerMode"><a type="button" class="registerButton" href="javascript:IRegister();">注册</a></div>
                </div>
            }
        }
    </div>
    <div class="xinxi">
        <div class="contact">
            <b>联系方式</b>
            <p>邮箱：flg@pgy1789.com</p>
            <p>Q Q：1546718828</p>
            <p>电话：13302715727</p>
        </div>
        <div class="beian">
            <p><a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备12030166号-6</a></p>
        </div>
    </div>
    <div id="xinxi" class="xinxi">
        <div class="contact">
            <b>联系方式</b>
            <p>邮箱：flg@pgy1789.com</p>
            <p>QQ：1546718828</p>
            <p>电话：13302715727</p>
        </div>
        <div class="beian">
            <p><a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备12030166号-6</a></p>
        </div>
    </div>
</div>
<div id="GrayBG" style="background-color: #ccc;opacity: 0.5;width: 100%;height: 100%;z-index:1;display: none;"></div>
<div class="reg login logreg" id="logreg"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#saomatop').mouseenter(function () {
            $('#moreContent').animate({ opacity: "1" }, 500);
        })
    });
    $(document).ready(function () {
        $('#saomatop').mouseout(function () {
            $('#moreContent').animate({ opacity: "0" }, 500);
        })
    });
</script>
<script type="text/javascript">
    $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop > 700) {//这边60可以自己根据自己的距离调整，距离就是滚动条和顶部的距离
            $('#xinxi').show();

        } else {
            $('#xinxi').hide();
        }
    });
</script>
<script type="text/javascript">
    //显示悬浮层
    function showInform() {
        document.getElementById("inform").style.display = 'block';
        // document.getElementById("inform").css("display","block");
    }
    //隐藏悬浮层
    function hiddenInform(event) {
        var informDiv = document.getElementById('inform');
        var x = event.clientX;
        var y = event.clientY;
        var divx1 = informDiv.offsetLeft;
        var divy1 = informDiv.offsetTop;
        var divx2 = informDiv.offsetLeft + informDiv.offsetWidth;
        var divy2 = informDiv.offsetTop + informDiv.offsetHeight;
        if (x < divx1 || x > divx2 || y < divy1 || y > divy2) {
            document.getElementById('inform').style.display = 'none';
        }
    }
</script>
<script src="~/Scripts/YuxiSlider.jQuery.min.js"></script>
<script>
    $("#scroll").YuxiSlider({
        width: 700, //容器宽度
        height: 250, //容器高度
        control: $('.control'), //绑定控制按钮
        during: 4000, //间隔4秒自动滑动
        speed: 1000, //移动速度1秒
        mousewheel: false, //是否开启鼠标滚轮控制
        direkey: true //是否开启左右箭头方向控制
    });
</script>
