@{
    var sList = ViewData["ShowList"] as List<Web.ViewModels.VMArticle>;
    var nList = ViewData["NewList"] as List<Web.ViewModels.VMArticle>;
}

<script>
    var catid = 'li_'+'@ViewBag.CatID';
</script>
<script>
    var pcount = 1;
    var state = true;

    $(function () {
        $.ajax({
            url: '/Home/ArticleList',
            type: 'post',
            data: { page: 0 },
            success: function (data) {
                $('#articles').html(data);
            }
        })

        var menu1 = $('#menu').children();
        for (var i = 0; i < menu1.length; i++) {
            var m = menu1[i].children;
            if (m.item(0).id == catid) {
                m.item(0).className = 'optiontype';
                return;
            }
        }
    });

    function Search() {
        var str = $('.searchText').val();
        window.location.href = '/Home/Index?search=' + str;
    }

    $(window).scroll(
        function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight >= scrollHeight) {
                var total = $('#PageCount').val();

                if (pcount <= total) {
                    var str = $('.searchText').val();
                    $.ajax({
                        url: '/Home/ArticleList',
                        type: 'post',
                        data: {
                            page: pcount
                        },
                        success: function (data) {
                            $(data).appendTo($("#articles"));
                            state = true;
                        }
                    })
                    pcount++;
                } else {
                    if (state == true) {
                        //alert('到底了');
                        var str = '<div class="cBox single-mode" style="height:10px;;background-color:#d8f7ff;text-align:center"><span>到底了</span></div>';
                        $(str).appendTo($("#articles"));
                        state = false;
                        return;
                    }
                }
            }
        });
</script>
<script>
    function ILogin() {
        $.ajax({
            url: '/Authentication/Index',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var log = $('#logreg');
                log.html(data);
                log.show();
            }
        })
    }

    function IRegister() {
        $.ajax({
            url: '/Authentication/Register',
            type: 'post',
            success: function (data) {
                $('#GrayBG').show();
                var reg = $('#logreg');
                reg.html(data);
                reg.show();
            }
        })
    }

    function closeRight() {
        $('#GrayBG').hide();
        var lr = $('#logreg');
        lr.html('');
        lr.hide();
    }
</script>
<style>
    .menu {
        background-color: red
    }

    a:visited {
        color: lightgray;
    }
</style>
<div class="topBar">
    <div class="weatherInfo" style="height:30px;">
        <iframe width="450" scrolling="no" height="30" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=4&wind=1&num=1&site=12"></iframe>
    </div>
</div>
<div id="typeInfo">
    <div class="typeTitle">
        <a href="/Home/Index">
            <img src="~/Content/img/toptitle.png" />
        </a>
    </div>
    <div id="menu" class="typeoption">
        <p><a id="li_0" href="/Home/Index" target="_self">综合</a></p>
        <p><a id="li_8" href="/Home/Index?catid=8" target="_self">科技</a></p>
        <p><a id="li_12" href="/Home/Index?catid=12" target="_self">时尚</a></p>
        <p><a id="li_16" href="/Home/Index?catid=16" target="_self">生活</a></p>
        <p><a id="li_3" href="/Home/Index?catid=3" target="_self">体育</a></p>
        <p><a id="li_6" href="/Home/Index?catid=6" target="_self">财经</a></p>
        <p><a id="li_4" href="/Home/Index?catid=4" target="_self">娱乐</a></p>
        <p><a id="li_13" href="/Home/Index?catid=13" target="_self">游戏</a></p>
        <p><a id="li_15" href="/Home/Index?catid=15" target="_self">旅游</a></p>
        <p><a id="li_14" href="/Home/Index?catid=14" target="_self">军事</a></p>
        <p><a id="li_19" href="/Home/Index?catid=19" target="_self">搞笑</a></p>
    </div>
</div>
<div class="newWrapper">
    <div class="newPhoto">
        <div class="banner" id="banner">
            @foreach (var item in sList)
            {
                <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" class="d1">
                    <img src="@item.ImgSrc" alt="" /><p>@item.Title</p>
                </a>
            }
            <div class="d2" id="banner_id">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <input id="PageCount" hidden="hidden" value="@ViewBag.PageCount" />

    <div class="shopNews" id="articles"></div>
</div>
<div class="rightbar">
    <div class="searchBar">
        <input type="text" class="searchText" value="@ViewBag.Search" placeholder="这里输入你要搜索的内容" />
        <div class="searchButton"><a type="button" class="searchButton1" onclick="Search()">搜索</a></div>
    </div>
    <div class="loginBar">
        @{
            if (Convert.ToBoolean(ViewBag.IsLogin))
            {
                <div class="loginInner">
                    <div class="loginConduce">登录后可以保存您的浏览足迹、收藏。</div>
                    <div class="loginMode"><a type="button" class="loginButton" href="javascript:ILogin();">登录</a></div>
                    <div class="registerMode"><a type="button" class="registerButton" href="javascript:IRegister();">注册</a></div>
                </div>
            }
            else
            {
                <div id="loginInnerTwo">
                    <div class="welcomeToLogin"><span>欢迎，@ViewBag.Name</span></div>
                    <div class="myfoot"><a type="button" class="footButton" href="/Home/FootmarkList">我的足迹</a></div>
                    <div class="myCollection"><a type="button" class="collectionButton" href="/Home/FavoritesList">我的收藏</a></div>
                    <div class="exitUser"><a type="button" class="exitButton" href="/Authentication/Logout">退出当前账号</a></div>
                </div>
            }
        }
    </div>
    <div id="hNews" class="hoursNews" style="display:none">
        <div class="hoursNewsTitle"><span>最近要闻</span></div>
        <div class="Newslist">
            <ul>
                @foreach (var item in nList)
                {
                    <li>
                        <div class="NewslistOne">
                            <div class="NewslistImg">
                                <a target="_blank" href="/Home/ArticleInfo?inArticleID=@item.ArticleID">
                                    <img src="@item.ImgSrc" style="width: 50px;height: 50px;" />
                                </a>
                            </div>
                            <div class="NewslistContent">
                                <a target="_blank" href="/Home/ArticleInfo?inArticleID=@item.ArticleID">@item.Title</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="contact">
            <b>联系方式</b>
            <p>邮箱：flg@pgy1789.com</p>
            <p>Q Q：1546718828</p>
            <p>电话：13302715727</p>
        </div>
        <div class="beian">
            <p><a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备12030166号-6</a></p>
        </div>
    </div>
</div>
<div id="GrayBG" style="background-color: #ccc;opacity: 0.5;width: 100%;height: 100%;z-index:1;display: none;"></div>
<div class="reg login logreg" id="logreg"></div>
<script type="text/javascript">
    $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop > 600) {//这边60可以自己根据自己的距离调整，距离就是滚动条和顶部的距离
            $('#hNews').show();

        } else {
            $('#hNews').hide();
        }
    });
</script>
<script type="text/javascript">
    function banner() {
        var bn_id = 0;
        var bn_id2 = 1;
        var speed33 = 3000;
        var qhjg = 1;
        var MyMar33;
        $("#banner .d1").hide();
        $("#banner .d1").eq(0).fadeIn("slow");
        if ($("#banner .d1").length > 1) {
            $("#banner_id li").eq(0).addClass("nuw");
            function Marquee33() {
                bn_id2 = bn_id + 1;
                if (bn_id2 > $("#banner .d1").length - 1) {
                    bn_id2 = 0;
                }
                $("#banner .d1").eq(bn_id).css("z-index", "2");
                $("#banner .d1").eq(bn_id2).css("z-index", "1");
                $("#banner .d1").eq(bn_id2).show();
                $("#banner .d1").eq(bn_id).fadeOut("slow");
                $("#banner_id li").removeClass("nuw");
                $("#banner_id li").eq(bn_id2).addClass("nuw");
                bn_id = bn_id2;
            };

            MyMar33 = setInterval(Marquee33, speed33);

            $("#banner_id li").click(function () {
                var bn_id3 = $("#banner_id li").index(this);
                if (bn_id3 != bn_id && qhjg == 1) {
                    qhjg = 0;
                    $("#banner .d1").eq(bn_id).css("z-index", "2");
                    $("#banner .d1").eq(bn_id3).css("z-index", "1");
                    $("#banner .d1").eq(bn_id3).show();
                    $("#banner .d1").eq(bn_id).fadeOut("slow", function () { qhjg = 1; });
                    $("#banner_id li").removeClass("nuw");
                    $("#banner_id li").eq(bn_id3).addClass("nuw");
                    bn_id = bn_id3;
                }
            })
            $("#banner_id").hover(
                function () {
                    clearInterval(MyMar33);
                }
                ,
                function () {
                    MyMar33 = setInterval(Marquee33, speed33);
                }
            )
        }
        else {
            $("#banner_id").hide();
        }
        $("#banner .d1").hover(
            function () {
                clearInterval(MyMar33);
            },
            function () {
                MyMar33 = setInterval(Marquee33, speed33);
            }
        )
    }
    banner()
</script>