@{
    var website = ViewData["WebSite"] as Model.WebSiteInfo;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@website.Keywords">
    <meta name="description" content="@website.Description">
    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="index,follow">
    <title>@website.WebSiteName</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Home/global.css" rel="stylesheet" />
    <link href="~/Content/css/Home/Index.css" rel="stylesheet" />
    <style>
        img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="page-wrap  subpage">
        <!-- header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="logo" style="width:200px;height:100px;">
                        <img alt="Logo" src="@website.LogoImgUrl" />
                    </div>
                    <div class="claim">
                        @website.WebSiteName
                    </div>
                </div>
            </div>
            <div class="main-nav" style="background:none;background-color:black;">
                <div class="container">
                    <div class="nav">
                        <ul>
                            <li class=""><a href="/Home/Index" title="">首页</a></li>
                            <li class=""><a href="/Home/Commodity" title="">商品</a></li>
                            <li class=""><a href="/Home/Article" title="">文章</a></li>
                            <li class=""><a href="/Home/Pictures" title="">图集</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <!-- footer -->
        <footer class="footer" style="margin-top:20px;">
            <div class="footer-links">
                <div class="container">
                    <div class="left-col">
                        <div class="item contact"><h4><span>联系方式</span></h4><p>邮箱：@website.Email<br> 地址：@website.Address<br> </p></div>
                    </div>
                    <div class="right-col">
                        <div class="bottom-row">
                            <div class="item">
                                <img src="@website.QRCodeUrl">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-meta">
                <div class="container">
                    <ul class="meta-links">
                        <li><span>@website.CompanyName 保留所有权利 </span></li>
                        <li><span style="cursor:pointer;" onclick="window.open('http://www.miibeian.gov.cn')">@website.RecordNumber</span></li>
                    </ul>
                </div>
            </div>
            <span class="back-top" style="display: none; opacity: 1;"><img src="~/Content/Images/back.png" /></span>
        </footer>

        <script type="text/javascript" src="~/Scripts/Home/jquery-migrate-1.3.0.min.js"></script>

        <script type="text/javascript" src="~/Scripts/Home/jquery.blockUI.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/modernizr.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/ellipsis.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Home/common.js"></script>
    </div>
</body>
</html>