@model Web.ViewModels.Article
@{
    //var pageWidth = Convert.ToBoolean(ViewData["Mobile"]) ? "width:90%" : "";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        body {
            background-color: #5c87b2;
            background-image: url("../../Content/Images/groovepaper.png");
            font-size: .75em;
            font-family: Verdana, Helvetica, Sans-Serif;
            margin: 0;
            padding: 0;
            color: #696969;
        }

        .page {
            margin: 0 auto;
            width: 50%;
        }

        p {
            font-size: 18px !important;
        }

        h2 {
            font-size: 24px !important;
        }

        /*span {
            font-size: 18px !important;
        }*/

        img {
            max-width: 100%;
            height: auto;
        }

        iframe {
            border: none;
            height: auto;
        }
    </style>
    <script>
        $(function () {
            var conten = $('#Conten').val();
            $('#articleconten').html(conten);
        })
    </script>
</head>
<body>
    <div hidden="hidden">
        @Html.Hidden("Conten", Model.Conten)
    </div>
    <div id="page" class="page" style="width:90%">
        <div style="margin-top:5%;text-align:left;">
            <span style="font-size:12px;"><a href="/Home/Index">首页</a> > @Model.Title</span>
            <h2>@Model.Title</h2>
        </div>
        <div style="height:30px;font-size: 18px !important;">
            <span>类别： @Model.DomainName</span>
            <span>作者： @Model.RAdminName</span>
            <span>发布时间： @Model.ReleaseTime</span>
        </div>
        <div id="articleconten"></div>
    </div>
</body>
</html>
