@model Web.ViewModels.HomeViewModel
@{
    var index = 0;
    Layout = "~/Views/Shared/Test/_Layout.cshtml";
}

<section class="main" data-showsapoverlay="">
    <div style="width:95%;margin:0 auto;">
        @*<div hidden="hidden" class="page-title headline-full-width" style="margin-top: 50px;">
            <h1>手机数据线丨原装手机数据线包邮</h1>
        </div>

        <div hidden="hidden" class="slider-left-item">
            <div class="module-slider" data-auto="true">
                <div class="bx-wrapper" style="max-width: 100%;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 430px;">
                        <ul class="image-slider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-610px, 0px, 0px);">
                            <li style="float: left; list-style: none; position: relative; width: 610px;" class="bx-clone">
                                <img src="~/Content/FrontEnd/css/Headquater.jpg" alt="" title="">
                                <div class="caption ">
                                    <a href="" target="_blank" id="imageslider_teaser_8814812955708">
                                        <h4>手机数据线丨原装手机数据线包邮</h4>
                                        手机数据线丨原装手机数据线包邮
                                        <span>查看更多</span>
                                    </a>
                                </div>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 610px;">
                                <img src="~/Content/FrontEnd/css/02PI-AP-PH-bui-osb4top-load-bearing-capacity-610x430px.jpg" alt="" title="">
                                <div class="caption ">
                                    <a href="" target="_self" id="imageslider_teaser_8814812890172">
                                        <h4>手机数据线丨原装手机数据线包邮</h4>
                                        手机数据线丨原装手机数据线包邮
                                        <span>查看更多</span>
                                    </a>
                                </div>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 610px;">
                                <img src="~/Content/FrontEnd/css/02PI-PR-PRO-bui-dhf-installation-04i-610x430px.jpg" alt="" title="">
                                <div class="caption ">
                                    <a href="" title="" target="_self" id="imageslider_teaser_8814812922940">
                                        <h4>手机数据线丨原装手机数据线包邮</h4>
                                        手机数据线丨原装手机数据线包邮
                                        <span>查看更多</span>
                                    </a>
                                </div>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 610px;">
                                <img src="~/Content/FrontEnd/css/Headquater.jpg" alt="" title="">
                                <div class="caption ">
                                    <a href="" target="_blank" id="imageslider_teaser_8814812955708">
                                        <h4>手机数据线丨原装手机数据线包邮</h4>
                                        手机数据线丨原装手机数据线包邮
                                        <span>查看更多</span>
                                    </a>
                                </div>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 610px;" class="bx-clone">
                                <img src="~/Content/FrontEnd/css/02PI-AP-PH-bui-osb4top-load-bearing-capacity-610x430px.jpg" alt="" title="">
                                <div class="caption ">
                                    <a href="" title="" target="_self" id="imageslider_teaser_8814812890172">
                                        <h4>手机数据线丨原装手机数据线包邮</h4>
                                        手机数据线丨原装手机数据线包邮
                                        <span>查看更多</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="bx-controls bx-has-pager bx-has-controls-direction">
                        <div class="bx-pager bx-default-pager" style="bottom: 124px;">
                            <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div>
                            <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
                            <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
                        </div>
                        <div class="bx-controls-direction">
                            <a class="bx-prev" href="" style="top: 215px;">Prev</a>
                            <a class="bx-next" href="" style="top: 215px;">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div hidden="hidden" class="teaser-col-right">
            <div class="module-teaser-image full-slider">
                <h3>手机数据线丨原装手机数据线包邮</h3>
                <a href="" title="" target="_self" id="teaserimage_teaser_8798065993789">
                    <img src="~/Content/FrontEnd/css/Libanon-1-430x205px.jpg" />
                </a>
            </div>
            <div class="module-teaser-image full-slider">
                <h3>手机数据线</h3>
                <a href="" title="" target="_self" id="teaserimage_teaser_8798066026557">
                    <img src="~/Content/FrontEnd/css/02PI-CO-PW-bui-timber-control-02f-430x205px.jpg" />
                </a>
            </div>
        </div>*@

        <div class="module-product-list" style="margin-top:25px;">
            <h2>优惠产品</h2>
            <div style="float: right;margin: -30px 20px 0px 0px;" class="more">
                <a href="/Home/Commodity">更多></a>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="goodlist col-lg-12">
                    @foreach (var item in Model.CouponsList)
                    {
                        var price = item.ZKPice != "" ? Convert.ToSingle(item.ZKPice) : item.PriceNow;
                        var finalprice = price - item.CouponMoney;
                        var commissionRate = Convert.ToInt32(Convert.ToDecimal(item.CommissionRate) * 100);

                        <div class="col-lg-1-8 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnailh">
                                <div class="piccontent">
                                    <a href="@item.ClickUrl" target="_blank">
                                        <img src="@item.ImgUrl" alt="..." class="img-responsive">
                                    </a>
                                </div>
                                <div class="caption">
                                    <a href="@item.ClickUrl" target="_blank">
                                        <h4 style="font-size: 14px;overflow: hidden;height: 32px;">@item.Title</h4>
                                    </a>
                                    <div style="height:25px;" class="theprice">
                                        @*<div style="float: left;width: 40%;" class="tprice">
                                            <span style="font-size:10px;line-height:30px;">佣金</span>
                                            <span style="font-size:15px;color:coral;font-weight:bold;">@commissionRate%</span>
                                        </div>*@
                                        <div style="float:left;width:100%;padding-right:5px;" class="tprice2">
                                            <span style="font-size:10px;line-height:30px;">销量</span>
                                            <span style="font-size:10px;color:cornflowerblue;">@item.SalesCount</span>
                                        </div>
                                    </div>
                                    <div style="width:100%;height:2px;background-color:#c0d6ff;"></div>
                                    <div class="bottomd" style="height:71px;">
                                        <div class="col-lg-4 col-xs-4" style="padding-left: 0;padding-right: 0;border: 1px solid cornflowerblue;background-color: white;line-height: 20px;height: 21px;text-align: center;text-align: center;margin-top: 5px;" onclick="window.open('@item.ClickUrl');">
                                            <span style="float: left;font-size: 12px;background-color: cornflowerblue;color: white;width: 20px;line-height: 20px;height: 20px;text-align: center;">券</span>
                                            <span style="font-size: 12px;color: cornflowerblue;float: left;line-height: 20px;width: 60%;text-align: center;">@item.CouponMoney 元</span>
                                        </div>
                                        <div class="col-lg-8 col-xs-8" style="padding-left:0;padding-right:0;text-align:center;">
                                            <span style="font-size:12px;line-height:30px;float:left;">券后:</span>
                                            <span style="font-size:13px;color:red;font-weight:bold;line-height:30px;float:left;">￥@finalprice</span>
                                            <span style="font-size:10px;color:#a3a3a3;text-decoration:line-through;line-height:30px;float:left;">￥@price</span>
                                        </div>
                                        <div class="bottomcontent col-lg-12" style="width: 100%;height: 40px;background-color: #fff8e5;font-size: 10px;">
                                            <h>货不在贵贱,合心意就好.</h>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class=" col-md-9"></div>
            <div class=" col-md-3"></div>
        </div>

        <div class="row">
            <div class=" col-md-9" style="margin-bottom:30px;">
                <ul class="teaser-list module-group">
                    <li style="cursor:default;">
                        <div class="text">
                            <h4>文章</h4>
                            @foreach (var item in Model.ArticleList)
                            {
                                <p style="cursor:pointer;" onclick="window.open('/Home/ArticleInfo?inArticleID=@item.ArticleID')">@item.Title</p>
                            }
                            <a class="link-style" title="更多信息。" href="/Home/Article" target="_self">更多文章...</a>
                        </div>
                    </li>
                </ul>
            </div>
            @*<div class="module-product-list">
                <h2>图集</h2>
                <div class="row" style="margin-bottom:10px;">
                    <div style="float: right;margin: -30px 20px 0px 0px;" class="more">
                        <a href="/Home/Pictures">更多></a>
                    </div>
                    <div class="col-lg-12">
                        @foreach (var item in Model.PictureList)
                        {
                            for (int i = 0; i < item.Conten.Count; i++)
                            {
                                index++;
                                if (index > 12) { break; }

                                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    <div class="thumbnail">
                                        <a href="Goodcontent.html">
                                            <img src="@item.Conten[i].Src" alt="..." class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>*@
        </div><br><br><br>
    </div>
</section>